* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text: hsl(257, 21%, 94%);
    --background: hsl(255, 20%, 4%);
    --primary: hsl(262, 60%, 42%);
    --secondary: hsl(325, 21%, 34%);
    --accent: hsl(76, 84%, 52%);

    --ani-short: all 120ms ease;
}

/** Global Constants **/
body {
    background-color: var(--background);
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,a {
    color: var(--text);
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.full-screen {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.full-screen .background-img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .25;
    -webkit-user-drag: none;
}
.full-screen .content {
    z-index: 2;
}
.main-title {
    font-size: 36pt;
}
.title {
    font-size: 28pt;
}
.content {
    margin: auto;
    max-width: 1200px;
}
.button {
    min-height: 2rem;
    min-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
}

/** Index Page **/
#index-hero > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
#index-hero #social-icons {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}
#index-hero #social-icons > a {
    transition: var(--ani-short);
    will-change: contents;
    cursor: pointer;
}
#index-hero #social-icons > a:hover {
    text-shadow: var(--text) 0 0 1.5rem;
}
#index-hero #menu-icon {
    z-index: 10;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--text);
    transition: var(--ani-short);
    cursor: pointer;
    will-change: contents;
}
#index-hero #menu-icon:hover {
    text-shadow: var(--text) 0 0 1rem;
}
#index-hero #menu-icon[data-active='true'] {
    text-shadow: var(--text) 0 0 1.5rem;
}
#index-hero #site-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;
    right: 0;
    width: 300px;
    z-index: 2;
}
#index-hero #site-menu > .menu-item {
    font-size: 22pt;
    position: absolute;
    top: 0;
    right: -11rem;
    height: 3rem;
    width: fit-content;
    display: flex;
    justify-content: right;
    transition: var(--ani-short);
}
#index-hero #site-menu > .menu-item:nth-child(2) {
    top: 6rem;
    transition-delay: 60ms;
}
#index-hero #site-menu > .menu-item:nth-child(3) {
    top: 12rem;
    transition-delay: 120ms;
}
#index-hero #site-menu > .menu-item[data-visible='true'] {
    right: 2rem;
}
#index-hero #site-menu > .menu-item:hover {
    text-shadow: var(--text) 0 0 1rem;
    transition-delay: 0ms;
}

/* Intro section */
#introduction {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 23rem;
    grid-template-rows: auto;
    column-gap: 3rem;
    padding: 2rem 0;
}
#introduction #projects {
    height: 100%;
    border-left: solid 1px var(--secondary);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}
#introduction #projects > .title {
    font-weight: 800;
    margin-bottom: 2rem;
    padding: 0 3rem;
}
#introduction #projects #container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: .75rem;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
#introduction #projects #container .index-project-card .thumbnail {
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .75rem;
}
#introduction #projects #container .index-project-card > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 16pt;
    height: fit-content;
}
#introduction #projects #container .index-project-card > .subtitle {
    font-size: 12pt;
    margin-top: 1em;
}
#introduction #projects #container .index-project-card {
    background-color: var(--background);
    transition: var(--ani-short);
    padding: 1.5rem;
    border-radius: .5rem;
}
#introduction #projects #container .index-project-card:hover {
    background-color: hsl(255, 20%, 10%);
}
#introduction .frame {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}
#introduction .frame .title {
    margin-bottom: 2rem;
}
#introduction .frame .text {
    font-size: 14pt;
    line-height: 20pt;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.error-page .button {
    transition: var(--ani-short);
}
.error-page .button:hover {
    cursor: pointer;
    text-shadow: var(--text) 0 0 1rem;
}
